* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container .images img {
  width: 600px;
}

.slider-container i {
  font-size: 50px;
  margin: 0 15px;
  color: #A6B9FF;
}

.slider-container i:hover {
  color: #2E59FA;
}

.slider .dots i {
  color: #A6B9FF;
  margin: 10px;
}

.slider .dots i.active {
  color: #2E59FA;
}
